
body{
  background-image: url("hotshowersheader.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #C9F0FF;
  height: auto;
  width: auto;
  align-content: center;
  cursor: url("pacifier4.ani");
}

a{
  text-align: center;
  color: #b8dcf2;
  background-color: #00436e;
}

h2{
  color: #d0e8f7;
}

h3{
  color: #01A2DA;
  border-radius: 200px;
  border-style: dotted;
  border-color: #01A2DA;
  transition-property: all;
  transition-duration: 1s;
}

h1{
  font-style: italic;
  font-family: inherit;
  font-weight: bold;
  color: #01A2DA;
  font-size: 80px;
  transition-property: all;
  transition-duration: 2s;
}

h5{
  font-size: 35;
  color: #00436e;
  font-style: oblique;
  background-color: white;
}

body{
  font-style: normal;
  font-size: 18;
  font-variant: normal;
  border-radius: 100px;
  border-color: #07448C;
}

img {
  float: center;
  border-radius: 30px;
  border-style: double;
  border-color: #07448C;
  transition-property: all;
  transition-duration: 2s;
}

div{
  text-align: center;
  color: #07448C;
}

#articletitle{
  position: absolute;
  top: 520px;
  left: 100px;
  right: 100px;
}

#articlebody{
  position: absolute;
  font-size: 22;
  top: 820px;
  left: 150px;
  right: 150px;
  color: #002b45;
}

#headerlink{
  position: absolute;
  top: 220px;
  left: 400px;
}

#header{
  max-width: 100%;
  background-image: url("hotshowersheader.jpg");
  background-size: contain;
}

#fivesteps{
  width: 42vw;
  position: absolute;
  top: 600px;
  left: 70px;
}

#match{
  width: 42vw;
  position: absolute;
  top: 600px;
  right: 70px;
}

#smoke{
  width: 42vw;
  position: absolute;
  top: 1000px;
  left: 70px;
}

#names{
  width: 42vw;
  position: absolute;
  top: 1000px;
  right: 70px;
}

#facebook{
  width: 50vw;
  color: #07448C;
  position: absolute;
  top: 1500px;
  left: 50px;
  background-color: #006890;
}

#twitter{
  width: 50vw;
  color: #07448C;
  position: absolute;
  top: 1500px;
  right: 50px;
  background-color: #006890;
}

#host{
  width: 42vw;
  position: relative;
}

#outfitsline1{
  position: absolute;
  left: 100px;
}
